params {
	skip_asciigenome = true
	skip_kraken2 = false
	skip_assembly = true
	save_mpileup = true
}

process {
    withLabel:process_high {
        cpus   = 15
        memory = 60.GB
        time   = 16.h
    }
    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--report-zero-counts --confidence 0.4'
    }
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.25 -q 20 -m 10'
        ext.args2 = '-aa --ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args = '-t 0.50 -q 20 -m 10 -n N'
    }
    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --adapter_sequence=AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }
}

params {
    save_mpileup = true
    skip_kraken2 = false
    skip_asciigenome = true
    skip_assembly = true
    genomes {
    'MN908947.3' {
      fasta = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.fna.gz'
      gff = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
      nextclade_dataset = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/nextclade_sars-cov-2_MN908947_2022-06-14T12_00_00Z.tar.gz'
      nextclade_dataset_name = 'sars-cov-2'
      nextclade_dataset_reference = 'MN908947'
      nextclade_dataset_tag = '2022-06-14T12:00:00Z'
      primer_sets {
        qiaseq {
          '1' {
            fasta = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V1/nCoV-2019.reference.fasta'
            gff = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://raw.githubusercontent.com/wslh-ehd/sc2_wastewater_data_analysis/main/data/QIAseqDIRECTSARSCoV2primersfinal.bed'
            scheme = 'QIAseqDIRECTSARSCoV2'
            }
        }
      }
    }
  }
}


